@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Nunito&display=swap');

/* --- Reset CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- Reset end --- */

:root {
    --board-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --spot-choose-border-color: #14b8a6;
    --body-color: #e7e5e4;
    --header-color: #a8a29e;
    --board-color: #fafaf9;
    --button-start-color: #a8a29e;
    --button-start-color-hover: #d6d3d1;
    --cell-color-hover: #e7e5e4;
}

body {
    font-family: 'Nunito', sans-serif, 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 16px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--body-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: var(--header-color);
}

header > h1 {
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /*border: 1px solid red;*/
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    box-shadow: var(--board-shadow);
    background-color: var(--board-color);
}

.gameboard.inactive {
    display: none;
}

.winner {
    pointer-events: none;
    filter: blur(0.3rem);
}

.cell {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    border: 3px solid black;
    cursor: pointer;
}

.cell:not(.spot):hover {
    background-color: var(--cell-color-hover);
}

.cell:nth-child(-n + 3) {
    border-top: 0;
}

.cell:nth-child(3n + 1) {
    border-left: 0;
}

.cell:nth-child(n + 7) {
    border-bottom: 0;
}

.cell:nth-child(3n + 3) {
    border-right: 0;
}

.footer {
    /* position: absolute;
     bottom: 0;*/
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}

/* Pop up start menu */

.modal-start-container {
    display: block; /* Show the pop-up by default */
    position: fixed; /* Position the pop-up fixed on the screen */
    top: 50%; /* Position the pop-up vertically centered */
    left: 50%; /* Position the pop-up horizontally centered */
    transform: translate(-50%, -50%); /* Offset the pop-up to the center of the screen */
    z-index: 1; /* Make sure the pop-up is on top of other elements */
    background-color: var(--board-color); /* Set the background color of the pop-up */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the pop-up */
    padding: 20px; /* Add some padding to the pop-up */
    border-radius: 8px;
}

.modal-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-start h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.mark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.mark-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    width: 5em;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #a8a29e;
}

.mark-container li:hover {
    box-shadow: inset 0 -0.3rem var(--spot-choose-border-color);
}

.mark-container .active {
    border: 1px solid #44403c;
    box-shadow: inset 0 -0.3rem var(--spot-choose-border-color);
}

select {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#btn-restart {
    margin-top: 2rem;
}

#btn-start,
#btn-restart,
#btn-settings,
#btn-play-again {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    width: 10rem;
    height: 2.5rem;
    background-color: var(--button-start-color);
    border-radius: 8px;
}

#btn-start:hover,
#btn-restart:hover,
#btn-settings:hover,
#btn-play-again:hover {
    cursor: pointer;
    background-color: var(--button-start-color-hover);
}

#btn-start:active,
#btn-restart:active,
#btn-settings:active,
#btn-play-again:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: red;
}

/* Pop up winner window */
.modal-winner-container {
    display: none; /* Not show the pop-up by default */
    position: fixed; /* Position the pop-up fixed on the screen */
    top: 50%; /* Position the pop-up vertically centered */
    left: 50%; /* Position the pop-up horizontally centered */
    transform: translate(-50%, -50%); /* Offset the pop-up to the center of the screen */
    z-index: 1; /* Make sure the pop-up is on top of other elements */
    background-color: var(--board-color); /* Set the background color of the pop-up */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the pop-up */
    padding: 20px; /* Add some padding to the pop-up */
    border-radius: 8px;
    font-size: 3rem;
    font-weight: 900;
}

.modal-winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 640px) {
    header > h1 {
        font-size: 3rem;
    }
    .gameboard {
        grid-template-columns: repeat(3, 6.5rem);
        grid-template-rows: repeat(3, 6.5rem);
    }
    .modal-start h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .mark-container li {
        width: 3em;
    }

    .modal-winner-container {
        text-align: center;
        font-size: 2rem;
    }
}
